@import "materialize";

<<<<<<< HEAD

=======
>>>>>>> 3aaa88476018973d929babe339f1af38e8d8c910
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
<<<<<<< HEAD
  }
      
=======
  }
>>>>>>> 3aaa88476018973d929babe339f1af38e8d8c910
